<% field_group_name = "custom_fields[#{custom_field.id}]" %>
<div class="form-group">
  <%= label_tag custom_field.name %>
  <%= custom_input custom_field, "#{field_group_name}[value_text]" %>
</div>