<span data-toggle="tooltip" title="<%= status.start_date %>">
  <%= status.name %>
</span>
<button
  type="button"
  class="pull-right btn btn-xs btn-primary"
  data-toggle="modal"
  data-target="#status-modal"
  data-model-id="<%= child.id %>"
  data-status-type="<%= type %>">
  Update
</button>
