<tr>
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td>
    <%= link_to t("general.show"), edit_user_path(user) %> |
    <%= link_to t("general.delete"), user_path(user), method: :delete, data: {config: 'Are you sure?'} %>
  </td>
</tr>
