<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <div class="container">
        <h2>Hello, <%= current_user.name %>!</h2>
        <p>Welcome to Direct Beneficiary Monitoring System</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>