<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="container">
        <h2>Hello, <%= current_user.name %>!</h2>
        <p>Welcome to Direct Beneficiary Monitoring System</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Choose A Project To Start</h3></div>
      <div class="panel-body">
        <% if @projects.length == 0 %>
          <p class="text-center">You haven't created any project</p>
        <% else %>
          <ul>
            <% @projects.each do |project| %>
              <li><%= link_to(project.name, project) %></li>
            <% end %>
          </ul>
        <% end %>
        <hr>
        <div class="well">
          <p>Create A New Project</p>
          <%= render "projects/form" %>
        </div>
      </div>
    </div>
  </div>
</div>