<tr id="project-target-fields" style="display:none">
  <td>
    <%= f.select :project_target_type_id,
                 ProjectTargetType.all.collect { |t| [t.name, t.id] }.sort,
                 { include_blank: true },
                 class: "form-control" %>
  </td>
  <td><%= f.text_field :target, class: "form-control" %></td>
  <td>
    <button type="submit" class="btn btn-primary"><%= fa_icon :plus %></button>
  </td>
</tr>
