<h1><%= @project.name %></h1>
<div class="divider"></div>
<div class="section">
  <h3><b>Impressions</b></h3>
  <div class="row">
    <div class="col-md-12">
      <ul class="impact-table">
        <li>
          <span class="i-count"><%= @total_children %></span>
          <h4>Total Beneficiaries</h4>
        </li>
        <li>
          <span class="i-count"><%= @total_households %></span>
          <h4>Total Households</h4>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><%= t("projects.show.children_covered") %></h3></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <canvas id="i-child-ratio-chart" class="hidden-xs"></canvas>
            </div>
            <div class="col-md-4">
              <div id="ratio-legend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>