$("#detailModal").modal("hide");

$(".content-header").html(
    '<div class="alert alert-success alert-dismissable">' +
    '  <i class="fa fa-check"></i>' +
    '  <button type="button" class="close" data-dismiss="alert" ' +
    '    aria-hidden="true">×</button><b><%= j notice %></b>' +
    '</div>').fadeIn().delay(3000).fadeOut();

$("#work_activities_details").html(
  '<%= j render partial: "work_activity",
    collection: WorkActivity.all.order(:id) %>'
);
