@import "font-awesome";
@import "icheck-red";
@import "jquery.smartWizard";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-blue";
@import "datepicker3";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "jGrowl";
@import "home";

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  border-left-color: transparent;
  i {
    color: #3C8DBC;
  }
}

.main-header .logo {
  overflow: visible;
}

.main-sidebar,
.left-side {
  padding-top: 65px;
}

body {
  background-color: #ECF0F5;
}

.box-header {
  padding: 10px 10px 0;
}

.box-header .box-title,
.box-header > .fa {
  line-height: 34px;
  font-size: 24px;
  padding-left: 5px;
}

.box-header > .fa + .box-title {
  padding-left: 0;
}

.box-header > .box-tools {
  top: 9px;
}

.box.box-primary > .box-header > .fa {
  color: #3C8DBC;
}

.dataTables_wrapper {
  margin-top: -10px;
}

div.dataTables_info {
  padding-left: 5px;
}

.clickable {
  cursor: pointer;
}
