@import "font-awesome";
@import "icheck-red";
@import "jquery.smartWizard";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-blue";
@import "datepicker3";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "jGrowl";
@import "home";

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  border-left-color: transparent;
  i {
    color: #3C8DBC;
  }
}

.main-header .logo {
  overflow: visible;
}

.main-sidebar,
.left-side {
  padding-top: 65px;
}

body {
  background-color: #ECF0F5;
}
