body#home {
  background: image-url("child-bg.jpg") no-repeat scroll center center / cover #f2f2f2;
}

#home-heading {
  padding-top: 5%;
}

#home-heading h1 {
  color: #FFF;
  letter-spacing: -1px;
  text-shadow: #222 0px 1px 3px;
  font-size: 48px;
}

#home-heading h2 {
  margin: 10px 0px 0px;
  color: #FFF;
  text-shadow: #222 0px 1px 3px;
  word-wrap: break-word;
}

#home-login {
  margin-top: 10%
}

.login-logo {
  margin-bottom: 90px;
}

.login-box-body .panel-heading {
  margin-top: -110px;
  text-align: center;
}

.login-box-body {
  box-shadow: 4px 4px 6px -2px rgba(20, 20, 140, 0.25);
}
