div.jGrowl {
  z-index:      9999;
  color:        #fff;
  font-size:      12px;
  text-shadow: none;
}

/** Special IE6 Style Positioning **/
div.ie6 {
  position:       absolute;
}

div.ie6.top-right {
  right:        auto;
  bottom:       auto;
  left:         expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top:        expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.top-left {
  left:         expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top:        expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.bottom-right {
  left:         expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top:        expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.bottom-left {
  left:         expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top:        expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.center {
  left:         expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top:        expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
  width:        100%;
}

div.jGrowl > .ui-state-highlight {
    background: inherit;
    color: inherit;
    border: inherit;
}

div.jGrowl > .ui-corner-all {
    background: inherit;
    color: inherit;
    border: inherit;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/** Normal Style Positions **/
div.jGrowl {
  position:     absolute;
}

body > div.jGrowl {
  position:     fixed;
}

div.jGrowl.top-left {
  left:         0px;
  top:        0px;
  position:fixed;
}

div.jGrowl.top-right {
  right:        15px;
  top:        0px;
  position:fixed;
}

div.jGrowl.bottom-left {
  left:         0px;
  bottom:       0px;
  position:fixed;
}

div.jGrowl.bottom-right {
  right:        15px;
  bottom:       0px;
  position:fixed;
}

@media (max-width: 767px) {
  div.jGrowl.center {
    top:        0px;
    width:        50%;
    left:         0px;
  }
}

@media (min-width: 768px) {
  div.jGrowl.center {
    top:        0px;
    width:        50%;
    left:         42%;
  }
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
  margin-left:    auto;
  margin-right:     auto;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  /*background-color:     rgb(204, 109, 0);*/
  /*background-color:     rgb(106, 168, 79);*/
  background-color: #000;
  /*opacity:        .85;*/
  -ms-filter:       "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; 
  filter:         progid:DXImageTransform.Microsoft.Alpha(Opacity=85); 
  zoom:           1;
  width:          300px;
  padding:        0 5px 0 10px;
  margin-top:       5px;
  margin-bottom:      5px;
  font-family:      Tahoma, Arial, Helvetica, sans-serif;
  font-size:        1em;
  text-align:       left;
  display:        none;
  /*-moz-border-radius:   5px;*/
  /*-webkit-border-radius:  5px;*/
  // box-shadow: 3px 3px rgba(0,0,0,0.5);
  // moz-box-shadow: 3px 3px rgba(0,0,0,0.5);
  // -webkit-box-shadow: 3px 3px rgba(0,0,0,0.5);
}

div.jGrowl div.jGrowl-notification {
  min-height:       30px;
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
  margin:         10px;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
  font-weight:      normal;
  font-size:        .85em;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
  z-index:        99;
  float:          right;
  font-weight:      bold;
  font-size:        1em;
  cursor:         pointer;
}

div.jGrowl div.jGrowl-closer {
  padding-top:      4px;
  padding-bottom:     4px;
  cursor:         pointer;
  font-size:        .9em;
  font-weight:      bold;
  text-align:       center;
}

div.jGrowl div.jGrowl-message { 
  font-weight:normal; 
  line-height:17px;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0 10px 0;
}

div.jGrowl div.jGrowl-notification.success {
  /*color: #468847;*/
  color: #ffffff;
  background-color:     rgb(106, 168, 79);
}

div.jGrowl div.jGrowl-notification.error {
  /*color: #b94a48;*/
  color: #ffffff;
  background-color:     rgb(204, 109, 0);
}

/** Hide jGrowl when printing **/
@media print {
  div.jGrowl {
    display:      none;
  }
}