<div class="page-header">
  <%= link_to new_report_path, class: 'btn btn-primary' do %>
    <%= fa_icon "plus" %>
    <%= t("reports.index.add") %>
  <% end %>
  <h1><%= t("reports.index.title") %></h1>
</div>