<h2 class="text-center">Livelihood Indicator L1</h2>

<h3 class="text-center">L1: Number of households receiving livelihood services</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>REPORTING PERIOD</th>
      <th>Target Number <br>of Households Receiving Services</th>
      <th>Actual Number <br>of Households Receiving Services</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PERIOD 8 <br>1 Apr. 2016 - 30 Sept. 2016</td>
      <td>1204</td>
      <td></td>
    </tr>
    <tr class="info">
      <td>Total Fiscal Year 2016</td>
      <td>2419</td>
      <td>0</td>
    </tr>

    <tr>
      <td>PERIOD 9 <br>1 Oct. 2016 - 31 Mar. 2017</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>PERIOD 10 <br>1 Apr. 2017 - 30 Sept. 2017</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="info">
      <td>Total Fiscal Year 2017</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td colspan="3">
        <p class="text-center">Insert total life of project target from project proposal below.</p>
      </td>
    </tr>
    <tr class="info">
      <td><b>TOTAL PROJECT</b><br> Oct. 1 2012 - 30 Sept. 2017</td>
      <td>14000</td>
      <td>2546</td>
    </tr>
  </tbody>
</table>
Notes: