<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <span><%= yield :title %></span>
      <% if content_for? :description %>
        <small><%= yield :description %></small>
      <% end %>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <%= yield %>
  </section>
</div>
