<tr>
  <td><%= income_source.name %></td>
  <td><%= income_source.estimated_volume_produced %></td>
  <td><%= income_source.estimated_volume_sold %></td>
  <td><%= income_source.estimated_income %></td>
</tr>
